body {
  font-family: "Caudex";
}

.user-page {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.portrait {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.project-list {
  padding: 10px;
  margin: 0 auto;
  list-style: none;
}

.project {
  background-color: #222;
  color: #FFF;
  font-size: large;
  width: ;
  max-width: 95%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

h1 {
  margin: 10px;
}

h3 {
  margin: 10px;
}

h5 {
  padding: 0px;
  margin: 0px;
}

a {
  color: #FFF;
}

a:hover {
  text-decoration: none;
}

@media (min-width:320px) {
  
  .portrait {
    width: 260px;
    height: 260px;
  }

  .project {
    width: 260px;
  }

}
@media (min-width:400px) {

  .portrait {
    width: 340px;
    height: 340px;
  }

  .project {
    width: 340px;
  }

}

@media (min-width:600px) {

  .portrait {
    width: 300px;
    height: 300px;
  }

}
